<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/style/demo.css">
	<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	<title>handlebar</title>
	{{#if showTests}}
		<link rel="stylesheet" type="text/css" href="/vendor/mocha.css">
	{{/if}}
     <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>

</head>
<body>
<header>
	<img width="117" height="30" src="/img/1.svg">
	<a href="/contract">contract</a>
</header>
	{{{body}}}
	{{#if showTests}}
		<div id="mocha"></div>
		<script type="text/javascript" src="/vendor/mocha.js"></script>
		<script type="text/javascript" src="/vendor/chai.js"></script>
		<script type="text/javascript">
			mocha.ui("tdd");
			var assert = chai.assert;
		</script>
		<script type="text/javascript" src="/qa/tests-global.js"></script>
		{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
		{{/if}}
		<script>mocha.run();</script>
	{{/if}}
</body>
</html>